*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
placeholderview/.gitignore
placeholderview/build.gradle
placeholderview/proguard-rules.pro
placeholderview/src/androidTest/java/com/petinder/placeholderview/ExampleInstrumentedTest.java
placeholderview/src/main/AndroidManifest.xml
placeholderview/src/main/java/com/petinder/placeholderview/Animation.java
placeholderview/src/main/java/com/petinder/placeholderview/AnimationResolver.java
placeholderview/src/main/java/com/petinder/placeholderview/ExpandablePlaceHolderView.java
placeholderview/src/main/java/com/petinder/placeholderview/ExpandableViewAdapter.java
placeholderview/src/main/java/com/petinder/placeholderview/ExpandableViewBinder.java
placeholderview/src/main/java/com/petinder/placeholderview/InfinitePlaceHolderView.java
placeholderview/src/main/java/com/petinder/placeholderview/PlaceHolderView.java
placeholderview/src/main/java/com/petinder/placeholderview/PlaceHolderViewBuilder.java
placeholderview/src/main/java/com/petinder/placeholderview/SmoothLinearLayoutManager.java
placeholderview/src/main/java/com/petinder/placeholderview/SwipeDecor.java
placeholderview/src/main/java/com/petinder/placeholderview/SwipePlaceHolderView.java
placeholderview/src/main/java/com/petinder/placeholderview/SwipeViewBinder.java
placeholderview/src/main/java/com/petinder/placeholderview/SwipeViewBuilder.java
placeholderview/src/main/java/com/petinder/placeholderview/Utils.java
placeholderview/src/main/java/com/petinder/placeholderview/ViewAdapter.java
placeholderview/src/main/java/com/petinder/placeholderview/ViewBinder.java
placeholderview/src/main/java/com/petinder/placeholderview/ViewHolder.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/Animate.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/Click.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/Layout.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/LongClick.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/NonReusable.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/Position.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/Resolve.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/View.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/expand/ChildPosition.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/expand/Collapse.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/expand/Expand.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/expand/Parent.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/expand/ParentPosition.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/expand/SingleTop.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/expand/Toggle.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/infinite/LoadMore.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/swipe/SwipeCancelState.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/swipe/SwipeIn.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/swipe/SwipeInState.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/swipe/SwipeOut.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/swipe/SwipeOutState.java
placeholderview/src/main/java/com/petinder/placeholderview/annotations/swipe/SwipeView.java
placeholderview/src/main/java/com/petinder/placeholderview/listeners/ItemRemovedListener.java
placeholderview/src/main/res/values/strings.xml
placeholderview/src/test/java/com/petinder/placeholderview/ExampleUnitTest.java
